{% extends "base.html" %}
{% block styles %}
    <style>
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.5rem 1.5rem;
    }
    .avatar-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #000;
        color: #fff;
        font-weight: 700;
    }

    .avatar {
        width: 3rem;
        height: 3rem;
    }
    .rounded-3 {
        border-radius: 0.5rem!important;
    }
    .mb-2 {
        margin-bottom: 0.5rem!important;
    }
    .me-4 {
        margin-right: 1.5rem!important;
    }
    </style>
{% endblock %}
{% block content %}
    <h1>전략랭킹</h1>
    <a href="{{ url_for("main.make_strategy") }}">전략 만들기</a>
    <div class="container">
        <div class="text-center mb-5">
            <h3>전략랭킹</h3>
            <p class="lead">Eros ante urna tortor aliquam nisl magnis quisque hac</p>
        </div>
        {% for strategy in strategies %}
            <p>{{ performance_data[strategy.id] }}</p>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex flex-column flex-lg-row">
                        <span class="avatar avatar-text rounded-3 me-4 mb-2">ST</span>
                        <div class="row flex-fill">
                            <div class="col-sm-5">
                                <h4 class="h5">{{ strategy.name }}</h4>
                                <span class="badge bg-secondary">WORLDWIDE</span> <span class="badge bg-success">$60K - $100K</span>
                            </div>
                            <div class="col-sm-4 py-2">
                                <span class="badge bg-secondary">REACT</span>
                                <span class="badge bg-secondary">NODE</span>
                                <span class="badge bg-secondary">TYPESCRIPT</span>
                                <span class="badge bg-secondary">JUNIOR</span>
                            </div>
                            <div class="col-sm-3 text-lg-end">
                                {% if current_user.is_authenticated and not current_user.is_my_strategy(strategy) %}
                                    <p>
                                        <form action="{{ url_for("main.to_my_strategies", name=strategy.name) }}"
                                              method="post">
                                            {{ form.hidden_tag() }}
                                            {{ form.submit(value="내 전략에 추가하기", class_="btn btn-primary stretched-link") }}
                                        </form>
                                    </p>
                                {% else %}
                                    <p>
                                        <form action="{{ url_for("main.remove_from_strategies", name=strategy.name) }}"
                                              method="post">
                                            {{ form.hidden_tag() }}
                                            {{ form.submit(value="내 전략에서 제거하기", class_="btn btn-primary stretched-link") }}
                                        </form>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
